body {
  margin: 0;
  background-color: #232c33;
}

.nav_item:hover {
  color: white;
}

#name_label {
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: inherit;
}

#ut_campus {
  border: 5px solid #5a7d7c;
}

#skyscraper {
  border: 5px solid #5a7d7c;
}

#my_photo {
  border: 5px solid #5a7d7c;
}

.description_div {
  display: flex;
  justify-content: center;
  background-color: #dadff7;
  border: 3px solid #b5b2c2;
  text-align: left;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 10px;
  font-size: 18px;
}

#description {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

nav {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  justify-content: space-evenly;
  background-color: #a0c1d1;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid #b5b2c2;
}
